@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    background-color: #e7e9eb;
}
.flex-container{
    display: flex;
}
.first-item{
    width: 20%;
}
.second-item{
    width: 80%;
    border-left: none;
    align-self: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3% 15% 3% 15%;
    box-sizing: border-box;
    border: 2px solid #E8EBE4;
    border-bottom: none;
    background-color: white;
}
.profile-text{
    display: inline-block;
    margin-right: 17%;
}
.profile img{
    border-radius: 50%;
    width: 15%;
    border: 1px solid #E8EBE4;
}
.profile-icons i{
    font-size: 1.5rem;
    padding: 5px;
    color: #828485;
}
h2, h6{
    margin: 0;
}
h2{
    font-weight: 600;
    font-size: 16px;
}
h3{
    margin: 0;
    font-size: 14px;
}
h6{
    font-weight: 400;
    font-size: 10px;
    color: #BEC1BB;
}
.btn{
    width: 50%;
    background-color: #A491D2;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    box-sizing: border-box;
    border: 2px solid #E8EBE4;
    background-color: white;
}
.btn a{
    text-decoration: none;
    color: white;
}
.chat-container{
    display: flex;
    box-sizing: border-box;
    padding: 15px 40px 15px 40px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #E8EBE4;
    border-top: none;
    background-color: white;
}
.chat-container img{
    width: 60px;
    border-radius: 50%;
    border: 1px solid #E8EBE4;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content img{
    width: 25%;
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
p{
    text-align: center;
    font-size: 18px;
    margin-top: 0;
}
.bold{
    font-weight: 600;
}